---
import Formulario from "../components/Formulario.astro";
import Auto from "../components/Auto.astro";
import Hogar from "../components/Hogar.astro";
import Personales from "../components/Personales.astro";
import Moto from "../components/Moto.astro";

---

<section class="cards-container">
  <div class="cards-info">
    <h2>Cotiza tu cobertura</h2>
    <p>
      Cotiza tu cobertura en minutos. Protecci칩n personalizada para auto, moto,
      hogar o f치brica. R치pido, f치cil y adaptado a tus necesidades. Descubre la
      seguridad que mereces con solo unos clics.
    </p>
  </div>
  <div class="card-slider-mobile">
    <div class="slider">
      <a id="AutosCard">
        <Auto />
      </a>
      <a id="HogarCard">
        <Hogar />
      </a>
      <a id="PersonalesCard">
        <Personales />
      </a>
      <a id="MotosCard">
        <Moto/>
      </a>
    </div>
  
    <ul class="marker">
      <li><a href="#AutosCard"></a></li>
      <li><a href="#HogarCard"></a></li>
      <li><a href="#PersonalesCard"></a></li>
      <li><a href="#MotosCard"></a></li>
    </ul>
  </div>
  <div class="card-desktop-container">
    <Auto/>
    <Hogar/>
    <Personales/>
    <Moto/>
  </div>
  <Formulario/>
</section>

<style>

  /* MEDIA QUERY MODO MOBILE*/

  .card-desktop-container{
    display: none;
  }
  .cards-container {
    height: 1888px;
    background-color: #7dd8ff;
    gap: 20px;
  }
  

  .cards-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
  }

  .cards-info h2 {
    font-size: 36px;
    font-weight: bold;
    margin: 0;
  }

  .cards-info p {
    margin: 16px 5px 16px 5px;
    letter-spacing: 1px;
    text-align: center;
    font-size: 16px;
  }

  .card-slider-mobile{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  section {
    timeline-scope: --carousel;
  }

  .marker li:nth-child(1) {
    --i: 1;
  }

  .marker li:nth-child(2) {
    --i: 2;
  }

  .marker li:nth-child(3) {
    --i: 3;
  }

  .marker li:nth-child(4) {
    --i: 4;
  }

  .slider-container {
    height: 410px;
  }

  .slider {
    scroll-timeline: --carousel x;
   
    display: flex;
    flex-direction: row;
    border-radius: 4px;
    height: 360px;
    width: 100%;
    

    aspect-ratio: 16/9;

    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;

    overflow-x: scroll;
    overflow-y: hidden;
  }

  .slider a {
    height: 360px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .marker a {
    display: flex;
    width: 16px;
    aspect-ratio: 1;
    background: #696969;
    opacity: 0.7;
    border-radius: 50%;
    transition: all 0.5s ease;

    animation: activate linear;
    animation-timeline: --carousel;
    animation-range: calc((var(--i) - 1) * 25%) calc(var(--i) * 25% + 1px);
  }

  @keyframes activate {
    0%,
    100% {
      background: black;
      opacity: 1;
    }
  }

  .slider a {
    flex: 0 0 100%;
    width: 100%;
    scroll-snap-align: center;
  }

  .marker {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 0.25em;
    list-style: none;
    font-size: 2em;
    bottom: 5rem;
     margin: 0;
    padding: 0;
    height: 70px;
    }

  /* MEDIA QUERY MODO DESKTOP*/

  @media (min-width: 1440px) {
    .card-desktop-container{
      display: flex;
    }

    .card-slider-mobile{
      display: none;
    }
    .card-desktop-container {
      display: flex;
      flex-direction: row;
      justify-content: center;
      width: 100%;
      gap: 30px;
    }
    .cards-info {
      height: 128px;
      width: 1120px;
      margin-top: 70px;
      margin-bottom: 50px;
    }
    .cards-info h2 {
      margin: 0;
      font-size: 64px;
      color: #000215;
      font-weight: bold;
      letter-spacing: -3px;
    }
    .cards-info p {
      font-size: 16px;
      width: 736px;
    }
    .cards-group {
      display: none;
    }
    .cards-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 1888px;
    background-color: #7dd8ff;
    gap: 20px;
  }
  
  }
</style>
