---

---

<section class="footer-container">
  <footer class="footer">
    <div class="footer-info">
      <div class="grid-item">
        <p>N° de inscipción de ssn 1234</p>
      </div>
      <div class="grid-item">
        <p>Atención al asegurado 0800-123-1234</p>
      </div>
      <div class="grid-item">
        <p>Organismo de control www.argentina.gob.ar/ssn</p>
      </div>
      <div class="grid-item-logo">
        <img src="public/footer-logo-snn 1.png" alt="logo-SSN-seguros" />
      </div>
    </div>
    <div class="footer-legales">
      <p>
        La entidad aseguradora dispone de un Servicio de Atención al Asegurado
        que atenderá las consultas y reclamos que presenten los tomadores de
        seguros, asegurados, beneficiarios y/o derechohabientes.
      </p>
      <p>
        En caso de que existiera un reclamo ante la entidad aseguradora y que el
        mismo no haya sido resuelto o haya sido desestimado, total o
        parcialmente, o que haya sido denegada su admisión, podrá comunicarse
        con la Superintendencia de Seguros de la Nación por teléfono al
        0800-666-8400, correo electrónico a consultas@ssn.gob.ar o formulario
        disponible en la página argentina.gob.ar/ssn.
      </p>
    </div>
  </footer>
</section>

<style>
  /* MEDIA QUERY MODO MOBILE*/

  .footer-container {
    display: none;
  }

  @media (min-width: 1440px) {
    /* MEDIA QUERY MODO DESKTOP */

    @import url("https://fonts.googleapis.com/css2?family=Kulim+Park:ital,wght@0,200;0,300;0,400;0,600;0,700;1,200;1,300;1,400;1,600;1,700&display=swap");

    .footer-container {
      font-family: "Kullim Park", sans-serif;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      height: 500px;
      width: 1440px;
      background-color: #ffffff;
    }

    .grid-item {
      display: flex;
      padding: 20px;
      text-align: center;
      border-right: 1px solid;
      height: 72px;
      text-align: center;
    }

    .grid-item-logo {
      padding: 20px 20px 20px 0;
      text-align: center;
    }

    .footer {
      display: flex;
      flex-direction: column;
      gap: 40px;
      height: 296px;
      width: 1120px;
    }

    .footer-info {
      font-size: 20px;
      font-weight: 300;
      padding: 20px;
      text-align: center;
      display: grid;
      grid-template-columns: repeat(
        4,
        1fr
      ); /* Crea 4 columnas de igual tamaño */
      gap: 20px; /* Agrega un espacio de 20px entre las columnas */
      height: 112px;
      width: 1120px;
    }

    .footer-legales {
      font-size: 20px;
      height: 184px;
      width: 1120px;
    }
  }
</style>
