---

---

<div class="container">
  <section class="form-container">
    <header class="form-header">
      <h2 class="form-header-title">Contanos un poco sobre vos</h2>
      <p class="form-header-info">
        Brindamos la tranquilidad de tener un vehículo auto bien protegido, a
        precio competitivo y con una excelente atención en siniestros.
      </p>
    </header>
    <form action="" method="POST" class="form" id="form">
      <article class="form-top">
        <div class="form-top-group">
          <fieldset>
            <label for="">Nombre completo</label>
            <input
              name="name"
              id="nombre-completo"
              type="text"
              placeholder="Ej: Tomás Hernandez"
              class="form-top-group-input"
            />
          </fieldset>

          <fieldset>
            <label for="">Fecha de nacimiento</label>
            <input
<<<<<<< HEAD
              placeholder="Fecha de nacimiento"
              type="date"
=======
              name="date"
              placeholder="DD/MM/AAAA"
              type="number"
>>>>>>> desarrollo
              class="form-top-group-input"
              id="fecha-nacimiento"
            />
          </fieldset>
        </div>

        <div class="form-mid">
          <fieldset class="form-mid-group">
            <label for="">Provincia</label>
            <input
              name="provincia"
              id="provincia"
              type="text"
              placeholder="Seleccione"
              class="form-top-group-input"
            />
          </fieldset>

          <fieldset id="ciudad-fieldset">
            <label for="">Ciudad</label>
            <input
              name="ciudad"
              id="ciudad"
              type="text"
              placeholder="Seleccione"
              class="form-top-group-input"
            />
          </fieldset>
        </div>

        <div class="form-bottom">
          <fieldset class="form-bottom-group">
            <label for="">Email</label>
            <input
              name="email"
              id="email"
              type="email"
              placeholder="Ej: example@gmail.com"
              class="form-top-group-input"
            />
          </fieldset>

          <fieldset class="form-bottom-group">
            <label for="">Código postal</label>
            <input
              name="postal"
              id="codigo-postal"
              type="number"
              placeholder="Ej: 45780"
              class="form-top-group-input"
            />
          </fieldset>
        </div>
      </article>
    </form>

    <button type="submit" class="form-button">enviar</button>
  </section>
</div>

<style>
  /* MEDIA QUERY MODO MOBILE */
  .container {
    display: none;
  }
  @media (min-width: 1440px) {
    /* MEDIA QUERY MODO DESKTOP */

    @import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

    fieldset {
      border: none;
      height: 88px;
    }

    label {
      font-size: 24px;
      color: #2d2d2d;
    }

    input::placeholder {
      padding-left: 15px;
      font-size: 24px;
      height: 40px;
    }

    .container {
      display: flex;
    }

    #nombre-completo {
      width: 478px;
    }

    #fecha-nacimiento,
    #provincia,
    #ciudad,
    #codigo-postal {
      width: 384px;
    }

    #email {
      width: 800px;
    }

    #ciudad-fieldset {
      padding-left: 65px;
    }

    .form-container {
      font-family: "Raleway", sans-serif;
      padding: 40px;
      border: none;
      border-radius: 20px;
      background-color: #ffffff;
      width: 1120px;
      height: 1060px;
    }

    .form-header {
      height: 246px;
    }

    .form-header-title {
      font-size: 48px;
      font-weight: 500;
      height: 96px;
      width: 688px;
    }

    .form-header-info {
      color: #575757;
      font-size: 24px;
      width: 995px;
      height: 150px;
    }

    .form {
      width: 950px;
      height: 424px;
    }

    .form-top-group,
    .form-mid {
      display: flex;
    }

    .form-bottom {
      display: block;
    }

    .form-bottom-group {
      display: flex;
      flex-direction: column;
    }

    .form-top-group-input {
      border-radius: 8px;
      border: 1px solid #989898;
      color: #989898;
      height: 56px;
    }

    .form-button {
      margin-top: 270px;
      margin-left: 60px;
      width: 995px;
      height: 56px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50px;
      text-transform: uppercase;
      border: none;
      color: #fff;
      font-size: 24px;
      font-weight: bold;
      background-color: #0036c2;
      cursor: pointer;
      transition: all 0.4s ease;
    }

    .form-button:hover {
      cursor: pointer;
      transition: all 0.4s ease;
      background-color: #0037c2b4;
    }
  }
</style>

<!-- <script>
  const API_KEY =
    "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";

    document.addEventListener('DOMContentLoaded', function() {
    // Tu código aquí
  });


  const formulario = document.getElementById("formulario");
    if (formulario) {
        formulario.addEventListener("submit", function(event) {
            // Captura los datos del formulario
          const name = document.getElementById("nombre-completo").value;
          const email = document.getElementById("email").value;

            // Configura SendGrid
          const sgMail = require("@sendgrid/mail");
          sgMail.setApiKey(API_KEY);

          // Construye el mensaje de correo electrónico
          const msg = {
            to: "correo@empresarial.com",
            from: correo,
            subject: "Nuevo mensaje desde el formulario de contacto",
            text: `Nombre: ${nombre}\nCorreo electrónico: ${correo}\nMensaje: ${mensaje}`,
          };

          // Envía el correo electrónico
          sgMail
            .send(msg)
            .then(() => {
              alert("Correo electrónico enviado correctamente");
            })
            .catch((error) => {
              console.error("Error al enviar el correo electrónico:", error);
              alert("Hubo un problema al enviar el correo electrónico");
            });
          });
    } else {
        console.error("El elemento formulario no fue encontrado");
    }

</script> -->
