---

---

<div class="container">
  <section class="form-container">
    <header class="form-header">
      <h2 class="form-header-title">Contanos un poco sobre vos</h2>
      <p class="form-header-info">
        Brindamos la tranquilidad de tener un vehículo auto bien protegido, a
        precio competitivo y con una excelente atención en siniestros.
      </p>
    </header>
    <form action="" class="form">
      <article class="form-top">
        <div class="form-top-group">
          <fieldset>
            <label for="">Nombre completo</label>
            <input
              id="nombre-completo"
              type="text"
              placeholder="Ej: Tomás Hernandez"
              class="form-top-group-input"
            />
          </fieldset>

          <fieldset>
            <label for="">Fecha de nacimiento</label>
            <input
              placeholder="DD/MM/AAAA"
              type="number"
              class="form-top-group-input"
              id="fecha-nacimiento"
            />
          </fieldset>
        </div>

        <div class="form-mid">
          <fieldset class="form-mid-group">
            <label for="">Provincia</label>
            <input
              id="provincia"
              type="text"
              placeholder="Seleccione"
              class="form-top-group-input"
            />
          </fieldset>

          <fieldset id="ciudad-fieldset">
            <label for="">Ciudad</label>
            <input
              id="ciudad"
              type="text"
              placeholder="Seleccione"
              class="form-top-group-input"
            />
          </fieldset>
        </div>

        <div class="form-bottom">
          <fieldset class="form-bottom-group">
            <label for="">Email</label>
            <input
              id="email"
              type="email"
              placeholder="Ej: example@gmail.com"
              class="form-top-group-input"
            />
          </fieldset>

          <fieldset class="form-bottom-group">
            <label for="">Código postal</label>
            <input
              id="codigo-postal"
              type="number"
              placeholder="Ej: 45780"
              class="form-top-group-input"
            />
          </fieldset>
        </div>
      </article>
    </form>

    <button type="submit" class="form-button">enviar</button>
  </section>
</div>

<style>
  .container {
    display: none;
  }
  @media (min-width: 1440px) {
    @import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

    fieldset {
      border: none;
      height: 88px;
    }

    label {
      font-size: 24px;
      color: #2d2d2d;
    }

    input::placeholder {
      padding-left: 15px;
      font-size: 24px;
      height: 40px;
    }

    .container {
      display: flex;
    }

    #nombre-completo {
      width: 478px;
    }

    #fecha-nacimiento,
    #provincia,
    #ciudad,
    #codigo-postal {
      width: 384px;
    }

    #email {
      width: 800px;
    }

    #ciudad-fieldset {
      padding-left: 65px;
    }

    .form-container {
      font-family: "Raleway", sans-serif;
      padding: 40px;
      border: none;
      border-radius: 20px;
      background-color: #ffffff;
      width: 1120px;
      height: 1060px;
    }

    .form-header {
      height: 246px;
    }

    .form-header-title {
      font-size: 48px;
      font-weight: 500;
      height: 96px;
      width: 688px;
    }

    .form-header-info {
      color: #575757;
      font-size: 24px;
      width: 995px;
      height: 150px;
    }

    .form {
      width: 950px;
      height: 424px;
    }

    .form-top-group,
    .form-mid {
      display: flex;
    }

    .form-bottom {
      display: block;
    }

    .form-bottom-group {
      display: flex;
      flex-direction: column;
    }

    .form-top-group-input {
      border-radius: 8px;
      border: 1px solid #989898;
      color: #989898;
      height: 56px;
    }

    .form-button {
      margin-top: 270px;
      margin-left: 60px;
      width: 995px;
      height: 56px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50px;
      text-transform: uppercase;
      border: none;
      color: #fff;
      font-size: 24px;
      font-weight: bold;
      background-color: #0036c2;
      cursor: pointer;
      transition: all 0.4s ease;
    }

    .form-button:hover {
      cursor: pointer;
      transition: all 0.4s ease;
      background-color: #0037c2b4;
    }
  }
</style>
