<article class="hogar-card">
    <!-- /* IMG SVG CARDS */ -->
    <!--?xml version="1.0" encoding="utf-8"?--><!-- Uploaded to: SVG Repo, www.svgrepo.com, Generator: SVG Repo Mixer Tools -->
      <svg  width="118" 
          height="160" 
          viewBox="0 0 118 160" 
          fill="none" 
          xmlns="http://www.w3.org/2000/svg">
          <path d="M54.1514 133.333H29.909C28.5353 133.333 27.383 132.693 26.452 131.413C25.5244 130.138 25.0605 128.556 25.0605 126.667V80H16.8181C15.6868 80 14.9191 79.2777 14.5151 77.8333C14.111 76.3889 14.3535 75.1666 15.2423 74.1666L55.7272 24C56.6161 22.7777 57.707 22.1666 58.9999 22.1666C60.2929 22.1666 61.3838 22.7777 62.2727 24L78.3939 44V33.3333C78.3939 31.4444 78.8593 29.86 79.7902 28.58C80.7179 27.3044 81.8686 26.6666 83.2423 26.6666H88.0908C89.4646 26.6666 90.6153 27.3044 91.543 28.58C92.4739 29.86 92.9393 31.4444 92.9393 33.3333V62L102.757 74.1666C103.646 75.1666 103.889 76.3889 103.485 77.8333C103.081 79.2777 102.313 80 101.182 80H92.9393V126.667C92.9393 128.556 92.4739 130.138 91.543 131.413C90.6153 132.693 89.4646 133.333 88.0908 133.333H63.8484V93.3333H54.1514V133.333ZM34.7575 120H44.4545V86.6666C44.4545 84.7777 44.9199 83.1933 45.8508 81.9133C46.7785 80.6377 47.9292 80 49.303 80H68.6969C70.0706 80 71.223 80.6377 72.1539 81.9133C73.0815 83.1933 73.5454 84.7777 73.5454 86.6666V120H83.2423V68L58.9999 38L34.7575 68V120ZM49.303 66.8333H68.6969C68.6969 63.2777 67.7272 60.36 65.7878 58.08C63.8484 55.8044 61.5858 54.6666 58.9999 54.6666C56.4141 54.6666 54.1514 55.8044 52.2121 58.08C50.2727 60.36 49.303 63.2777 49.303 66.8333Z" fill="#00205E"/>
      </svg>
    <div class="hogar-card-info">
      <h3>Hogar</h3>
      <p>Aca va un texto corto sobre la cobertura de esta card</p>
    </div>
  </article>
  </div>

  <style>
       .hogar-card {
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        background-color: #d2f1ff;
        width: 328px;
        height: 346px;
        box-shadow: 6px 7px 15px rgba(0, 0, 0, 0.5);
        transition: all 0.5s ease;
      }

      .hogar-card:hover {
        cursor: pointer;
        transition: all 0.5s ease;
        background-color: #00b2ff;
      }

      .hogar-card p {
        text-align: center;
      }
    
      .hogar-card-info {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
      }
    
      .hogar-card-info h3 {
        margin-bottom: 0;
        font-size: 32px;
        font-weight: bold;
        color: #00205e;
      }
    
      .hogar-card-info p {
        margin: 10px 10px 24px 10px;
        font-size: 24px;
        color: #00205e;
      }

      @media (min-width : 1440px){
          .cards-group {
          display: none;
        }
      
        .cards-slider-group {
          display: flex;
          justify-content: center;
          align-items: center;
          height: 44px;
          width: 544px;
        }
      }
  </style>