<div class="card-motos-container">
    <article class="motos-card">
      <!-- /* IMG SVG CARDS */ -->
      <!--?xml version="1.0" encoding="utf-8"?--><!-- Uploaded to: SVG Repo, www.svgrepo.com, Generator: SVG Repo Mixer Tools -->
      <svg  width="118" 
            height="160" 
            viewBox="0 0 118 160" 
            fill="none" 
            xmlns="http://www.w3.org/2000/svg">
            <g clip-path="url(#clip0_14_367)">
            <path d="M82.6363 30.0001C81.5109 29.9938 80.4124 30.4728 79.4952 31.3697C78.5781 32.2666 77.8886 33.5362 77.5236 35.0001H62.6363V45.0001H78.0908L79.229 50.0001H66.2727C56.7818 50.0001 52.0108 57.0301 50.2508 60.0001H37.9781C33.8688 56.7259 29.2038 55.0011 24.4545 55.0001C16.5999 55.0001 10.1345 59.2201 10.1345 59.2201L13.3199 68.2801C13.3199 68.2801 18.5163 65.0001 24.4545 65.0001C27.3963 65.0001 30.1636 66.2301 32.1818 67.3451L28.9999 76.4001C26.9404 75.5051 24.7961 75.0334 22.6363 75.0001C10.6036 75.0001 0.818115 88.4551 0.818115 105C0.818115 121.545 10.6036 135 22.6363 135C27.7888 135.002 32.7749 132.491 36.7074 127.913C40.6399 123.335 43.2639 116.988 44.1127 110H56.7272C59.4836 110 62.0981 107.795 63.3199 104.375H63.2036L67.1818 93.2801C73.2327 89.4551 78.1636 82.8151 81.6145 76.5651C82.5636 74.8451 83.3745 73.2651 84.1127 71.7151L91.8399 106.405L98.8872 103.595L94.7963 85.1551C94.9927 85.1351 95.1636 85.0001 95.3636 85.0001C103.389 85.0001 109.909 93.9651 109.909 105C109.909 116.035 103.389 125 95.3636 125C92.5224 124.995 89.7446 123.846 87.3725 121.696C85.0004 119.545 83.1378 116.488 82.0143 112.9C80.8908 109.311 80.5556 105.35 81.0499 101.503C81.5443 97.6556 82.8466 94.0916 84.7963 91.2501L82.5236 80.7801C79.7472 83.5618 77.4872 87.2048 75.9272 91.4132C74.3672 95.6216 73.5511 100.277 73.5454 105C73.5454 121.545 83.3308 135 95.3636 135C107.396 135 117.182 121.545 117.182 105C117.182 88.4551 107.396 75.0001 95.3636 75.0001C94.4127 75.0139 93.4637 75.1192 92.5236 75.3151L85.8181 45.0001H91.7272V30.0001H82.6363ZM66.2727 60.0001H80.8181C79.3418 63.6551 77.6705 67.1546 75.8181 70.4701C72.4363 76.5651 67.7345 83.0451 63.2036 85.3151L61.7272 85.9401L61.1599 87.8151L56.7272 100H22.6363V110H36.6145C34.9927 118.615 29.3963 125 22.6363 125C14.6108 125 8.09084 116.035 8.09084 105C8.09084 93.9651 14.6108 85.0001 22.6363 85.0001C27.9927 85.0001 32.6072 89.0451 35.1381 95.0001H43.2036C41.7228 89.3021 39.0305 84.3478 35.4763 80.7801L39.4545 70.0001H53.6581L54.7963 67.8101C54.7963 67.8101 58.3199 60.0001 66.2727 60.0001Z" fill="#00205E"/>
            </g>
            <defs>
            <clipPath id="clip0_14_367">
            <rect width="116.364" height="160" fill="white" transform="translate(0.818115)"/>
            </clipPath>
            </defs>
       </svg>
        
      <div class="motos-card-info">
        <h3>Motos</h3>
        <p>Aca va un texto corto sobre la cobertura de esta card</p>
      </div>
      <span>
        <svg
          class="cards-group"
          width="156"
          height="16"
          viewBox="0 0 156 16"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M8 11C9.65687 11 11 9.65687 11 8C11 6.34313 9.65687 5 8 5C6.34313 5 5 6.34313 5 8C5 9.65687 6.34313 11 8 11Z"
            fill="#000"
            stroke="#000"
            stroke-width="4"></path>
          <path
            d="M36 11C37.6569 11 39 9.65687 39 8C39 6.34313 37.6569 5 36 5C34.3431 5 33 6.34313 33 8C33 9.65687 34.3431 11 36 11Z"
            fill="#8C8C8C"
            stroke="#8C8C8C"
            stroke-width="4"></path>
          <path
            d="M64 11C65.6569 11 67 9.65687 67 8C67 6.34313 65.6569 5 64 5C62.3431 5 61 6.34313 61 8C61 9.65687 62.3431 11 64 11Z"
            fill="#8C8C8C"
            stroke="#8C8C8C"
            stroke-width="4"></path>
          <path
            d="M92 11C93.6569 11 95 9.65687 95 8C95 6.34313 93.6569 5 92 5C90.3431 5 89 6.34313 89 8C89 9.65687 90.3431 11 92 11Z"
            fill="#8C8C8C"
            stroke="#8C8C8C"
            stroke-width="4"></path>
          <path
            d="M120 11C121.657 11 123 9.65687 123 8C123 6.34313 121.657 5 120 5C118.343 5 117 6.34313 117 8C117 9.65687 118.343 11 120 11Z"
            fill="#8C8C8C"
            stroke="#8C8C8C"
            stroke-width="4"></path>
          <path
            d="M148 11C149.657 11 151 9.65687 151 8C151 6.34313 149.657 5 148 5C146.343 5 145 6.34313 145 8C145 9.65687 146.343 11 148 11Z"
            fill="#8C8C8C"
            stroke="#8C8C8C"
            stroke-width="4"></path>
        </svg>
      </span>
    </article>
    </div>

    <style>
         .motos-card {
          border-radius: 10px;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: space-evenly;
          background-color: #d2f1ff;
          width: 328px;
          height: 346px;
          box-shadow: 6px 7px 15px rgba(0, 0, 0, 0.5);
          transition: all 0.5s ease;
        }
  
        .motos-card:hover {
          cursor: pointer;
          transition: all 0.5s ease;
          background-color: #00b2ff;
        }

        .motos-card p {
          text-align: center;
        }
      
        .motos-card-info {
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
        }
      
        .motos-card-info h3 {
          margin-bottom: 0;
          font-size: 32px;
          font-weight: bold;
          color: #00205e;
        }
      
        .motos-card-info p {
          margin: 10px 10px 24px 10px;
          font-size: 24px;
          color: #00205e;
        }

        @media (min-width : 1440px){
            .cards-group {
            display: none;
          }
          .cards-slider-group {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 44px;
            width: 544px;
          }
        }
    </style>