---

---

<section class="numbers-container">
  <div class="numbers">
    <div class="porcentaje">
    <span id="number">0</span><span>%</span>
  </div>
    <p>De nuestros clientes estan sastifechos</p>
  </div>
  <div class="numbers">
    <span>1026</span>
    <p>Personas eligen la tranquilidad dia a dia</p>
  </div>
</section>

<style>
   /* MEDIA QUERY MODO MOBILE */

  .numbers-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 400px;
  }
  .numbers {
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
  }
  .numbers span {
    font-size: 96px;
    font-weight: bold;
    letter-spacing: -7px;
  }
  .numbers p {
    font-size: 20px;
    margin: 0;
    text-align: center;
    letter-spacing: -1px;
    padding-bottom: 40px;
  }
   /* MEDIA QUERY MODO DESKTOP */

  @media (min-width: 1440px) {
    .numbers-container {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      align-items: center;
      height: 320px;
    }
    .numbers {
      width: 544px;
      min-height: 160px;
      justify-content: center;
    }
    .numbers p {
      height: 24px;
      width: 538px;
    }
    .porcentaje{
      display: flex;
      gap: 13px;
    }
  }
</style>

<script>
      
  const finalNumber = 100; // Número final al que se incrementará
  let currentNumber = 0; // Número inicial   
  const incrementAmount = 1; // Cantidad a incrementar en cada paso
  let intervalTime = 50; // Tiempo en milisegundos entre cada incremento

function incrementNumber() {
if (currentNumber < finalNumber) {
 const numberElement= document.getElementById("number")!;
  numberElement.textContent = currentNumber.toString();
  currentNumber += incrementAmount;
  
  // Ralentizar la animación cuando el número supere ciertos valores
  if (currentNumber > 70) {
    intervalTime = 100; // Ralentizar a 100 milisegundos
  }
  if (currentNumber > 80) {
    intervalTime = 150; // Ralentizar a 150 milisegundos
  }
  if (currentNumber > 90) {
    intervalTime = 200; // Ralentizar a 200 milisegundos
  }
  
  setTimeout(incrementNumber, intervalTime);
}
}

incrementNumber(); // Iniciar la animación cuando se cargue la página
</script>



