<div class="card-personal-container">
    <article class="personales-card">
      <!-- /* IMG SVG CARDS */ -->
      <!--?xml version="1.0" encoding="utf-8"?--><!-- Uploaded to: SVG Repo, www.svgrepo.com, Generator: SVG Repo Mixer Tools -->
      <svg  width="122" 
            height="160" 
            viewBox="0 0 122 160" 
            fill="none" 
            xmlns="http://www.w3.org/2000/svg">
            <path d="M60.8711 15C44.1437 15 30.8476 32.4375 30.8476 54.375C30.8183 60.8193 32.0024 67.1734 34.2949 72.8735C36.5874 78.5736 39.9174 83.4434 43.9893 87.0506C30.1528 94.7738 19.9663 111.716 18.4093 132.562C17.9804 135.375 18.8383 138.75 20.5539 141C21.8406 143.25 24.414 144.375 26.5586 144.375H65.1601C72.4515 144.375 78.0273 137.063 78.0273 127.5C78.0273 117.937 72.4515 110.625 65.1601 110.625H48.8231L45.409 98.6719C50.1915 95.4429 55.492 93.7557 60.8711 93.75C79.7429 93.75 95.1836 114 95.1836 138.75H103.762C103.762 115.648 92.9961 95.6906 77.7271 87.0562C81.8044 83.4523 85.1397 78.5833 87.4369 72.8819C89.734 67.1805 90.9217 60.8233 90.8945 54.375C90.8945 32.4375 77.5984 15 60.8711 15ZM60.8711 26.25C62.6682 26.25 64.3795 26.6044 66.0394 27.1275L50.7918 43.125H41.1671C44.4268 33.1181 51.9327 26.25 60.8711 26.25ZM74.4931 32.6625C77.1353 35.4542 79.2221 39.0442 80.575 43.125H64.5253L74.4931 32.6625ZM39.4258 54.375H82.3164C82.3164 70.125 72.8804 82.5 60.8711 82.5C48.8617 82.5 39.4258 70.125 39.4258 54.375ZM38.1176 105.231L46.0952 133.125H26.9875C28.0095 122.37 31.9626 112.463 38.1176 105.231V105.231ZM52.0399 121.875H65.1601C67.7336 121.875 69.4492 124.125 69.4492 127.5C69.4492 130.875 67.7336 133.125 65.1601 133.125H55.2567L52.0399 121.875V121.875Z" fill="#00205E"/>
       </svg>
        
      <div class="personales-card-info">
        <h3>Personales</h3>
        <p>Aca va un texto corto sobre la cobertura de esta card</p>
      </div>
      <span>
        <svg
          class="cards-group"
          width="156"
          height="16"
          viewBox="0 0 156 16"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M8 11C9.65687 11 11 9.65687 11 8C11 6.34313 9.65687 5 8 5C6.34313 5 5 6.34313 5 8C5 9.65687 6.34313 11 8 11Z"
            fill="#000"
            stroke="#000"
            stroke-width="4"></path>
          <path
            d="M36 11C37.6569 11 39 9.65687 39 8C39 6.34313 37.6569 5 36 5C34.3431 5 33 6.34313 33 8C33 9.65687 34.3431 11 36 11Z"
            fill="#8C8C8C"
            stroke="#8C8C8C"
            stroke-width="4"></path>
          <path
            d="M64 11C65.6569 11 67 9.65687 67 8C67 6.34313 65.6569 5 64 5C62.3431 5 61 6.34313 61 8C61 9.65687 62.3431 11 64 11Z"
            fill="#8C8C8C"
            stroke="#8C8C8C"
            stroke-width="4"></path>
          <path
            d="M92 11C93.6569 11 95 9.65687 95 8C95 6.34313 93.6569 5 92 5C90.3431 5 89 6.34313 89 8C89 9.65687 90.3431 11 92 11Z"
            fill="#8C8C8C"
            stroke="#8C8C8C"
            stroke-width="4"></path>
          <path
            d="M120 11C121.657 11 123 9.65687 123 8C123 6.34313 121.657 5 120 5C118.343 5 117 6.34313 117 8C117 9.65687 118.343 11 120 11Z"
            fill="#8C8C8C"
            stroke="#8C8C8C"
            stroke-width="4"></path>
          <path
            d="M148 11C149.657 11 151 9.65687 151 8C151 6.34313 149.657 5 148 5C146.343 5 145 6.34313 145 8C145 9.65687 146.343 11 148 11Z"
            fill="#8C8C8C"
            stroke="#8C8C8C"
            stroke-width="4"></path>
        </svg>
      </span>
    </article>
    </div>

    <style>
         .personales-card {
          border-radius: 10px;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: space-evenly;
          background-color: #d2f1ff;
          width: 328px;
          height: 346px;
          box-shadow: 6px 7px 15px rgba(0, 0, 0, 0.5);
          transition: all 0.5s ease;
        }
  
        .car-card:hover {
          cursor: pointer;
          transition: all 0.5s ease;
          background-color: #00b2ff;
        }

        .personales-card p {
          text-align: center;
        }
      
        .personales-card-info {
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
        }
      
        .personales-card-info h3 {
          margin-bottom: 0;
          font-size: 32px;
          font-weight: bold;
          color: #00205e;
        }
      
        .personales-card-info p {
          margin: 10px 10px 24px 10px;
          font-size: 24px;
          color: #00205e;
        }

        @media (min-width : 1440px){
            .cards-group {
            display: none;
          }
         
          .cards-slider-group {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 44px;
            width: 544px;
          }
        }
    </style>