---
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="description"
      content="Bienvenido a  Otranto seguros, tu destino confiable para todas tus necesidades de seguros. En Otranto seguros, entendemos la importancia de proteger lo que más valoras en la vida. Nuestra misión es proporcionarte tranquilidad y seguridad a través de una amplia gama de opciones de seguros adaptadas a tus necesidades específicas.
    Explora nuestras soluciones de seguros para automóviles, hogar, fábrica y mucho más."
    />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/otranto/favicon.svg" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
      rel="stylesheet"
    />
    <script src="https://cdn.jsdelivr.net/npm/@sendgrid/mail"></script>
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <slot />
  </body>
</html>
<style is:global>
  :root {
    --primary: #7dd8ff;
    --secondary: #d2f1ff;
    --font: "Roboto", sans-serif;
  }

  html {
    scroll-behavior: smooth;
  }
</style>
